{% extends 'homebase.html' %}
{% block title %}content{% endblock %}
{% block keywords %} {{ settings.keywords }}  {% endblock %}
{% block decription %} {{ settings.decription }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ settings.icon.url }}'/>
{% endblock %}

{% block sidebar %}{% include 'sidebar.html' %}{% endblock %}

{% block content %}

    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1 class="page-name" style="color: #0c0c0c">Content</h1>
                        <ol class="breadcrumb">
                            <li><a href="/">Anasayfa</a></li>
                            <li class="active">content</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="section-row">

                        <img src="{{ content.image.url }}" height="300" align="left" style="padding: 10px;border-radius: 25px">
                        {{ content.detail|safe }}

                    </div>

                </div>

            </div>
            <!-- /row -->
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="section-row">
                        {% for rs in images %}
                            <img src="{{ rs.image.url }}" alt="" height="150"width="150">
                        {% endfor %}
                    </div>
                </div>

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->


{% endblock %}
