{% load static %}
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <!-- row last-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2 class="title">Last posts</h2>
                        </div>
                    </div>
                    <!-- post -->
                    {% for rs in lastblogs %}
                        <div class="col-md-6">
                            <div class="post">
                                <a class="post-img" href="/blog/{{ rs.id }}/{{ rs.slug }}" style="height: 200px"><img
                                        src="{{ rs.image.url }}"
                                        alt=""></a>
                                <div class="post-body" style="height: 120px">
                                    <div class="post-category">
                                        <a href="/blog/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a>
                                    </div>
                                    <h5 class="post-title title-sm"><a href="/blog/{{ rs.id }}/{{ rs.slug }}"
                                                                       style="height: 120px">{{ rs.description }}</a>
                                    </h5>
                                    <ul class="post-meta" style="height: 10px">
                                        <li><a>By.{{ rs.user.first_name }}</a></li>
                                        <li>{{ rs.create_at.date }}</li>
                                        <li>{{ rs.category }}</li>
                                        <li>{{ rs.comments.count }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /post -->
                    {% endfor %}


                </div>
                <!-- /row -->


            </div>
            <div class="col-md-4">


                <!-- social widget -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2 class="title">Social Media</h2>
                    </div>
                    <div class="social-widget">
                        <ul>
                            <li>
                                <a href="{{ settings.facebook }}" class="social-facebook">
                                    <i class="fa fa-facebook"></i>
                                    <span>21.2K<br>Followers</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ settings.twitter }}" class="social-twitter">
                                    <i class="fa fa-twitter"></i>
                                    <span>10.2K<br>Followers</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ settings.instagram }}" class="social-instagram">
                                    <i class="fa fa-instagram"></i>
                                    <span>5K<br>Followers</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /social widget -->


                <br>
                <!-- post widget -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2 class="title">Picked For You</h2>
                    </div>
                    <div class="hero-slider">
                        {% for rs in populerblogs %}
                            <!-- post -->
                            <div class="post post-widget">
                                <a class="post-img" href="/blog/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}"
                                                                                                alt=""
                                                                                                style="height: 150px"></a>
                                <div class="post-body">
                                    <div class="post-category">
                                        <a href="/blog/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a>
                                    </div>
                                    <h3 class="post-title"><a
                                            href="/blog/{{ rs.id }}/{{ rs.slug }}">{{ rs.description }}</a></h3>
                                    <ul class="post-meta">
                                        <li><a>By.{{ rs.user.first_name }}--{{ rs.create_at.date }}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /post -->
                        {% endfor %}


                    </div>
                    <!-- /post widget -->
                </div>
            </div>
            <!-- /row -->


        </div>
        <!-- /container -->


    </div>
    <!-- /SECTION -->

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="col-md-12">
                <!-- row  day -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2 class="title">Deals Of The Day</h2>
                        </div>
                    </div>
                    {% for rs in dayblogs %}
                        <!-- post -->
                        <div class="col-md-3">
                            <div class="post post-sm">
                                <a class="post-img" href="/blog/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}"
                                                                                                alt=""
                                                                                                style="height: 150px"></a>
                                <div class="post-body" style="height: 140px">
                                    <div class="post-category">
                                        <a href="/blog/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a>
                                    </div>
                                    <h3 class="post-title title-sm"><a
                                            href="/blog/{{ rs.id }}/{{ rs.slug }}">{{ rs.description }}</a>
                                    </h3>
                                    <ul class="post-meta">
                                        <li><a>By.{{ rs.user.first_name }}--{{ rs.create_at.date }}</a></li>
                                        <li>{{ rs.category }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /post -->
                    {% endfor %}

                </div>
                <!-- /row -->
            </div>
        </div>
    </div>
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">Random Blogs</h2>
                </div>
            </div>

            <div class="row">

                {% for rs in randomblogs %}
                    <div class="col-md-4">
                        <!-- post -->
                        <div class="post post-widget">
                            <a class="post-img" href="/blog/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}" alt=""
                                                                           style="height: 80px; "></a>
                            <div class="post-body" style="height: 80px">
                                <div class="post-category">
                                    <a href="/blog/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a>
                                </div>
                                <h5><a href="/blog/{{ rs.id }}/{{ rs.slug }}">{{ rs.description }}</a></h5>
                                <ul class="post-meta">
                                    <li><a >{{ rs.category }}</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /post -->

                    </div>
                {% endfor %}

            </div>

            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->


</div>