{% load static %}


<!-- Start Top Header Bar -->
<section class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-4">
                <div class="contact-number">
                    <i class="tf-ion-ios-email"></i>
                    <span>{{ settings.email }}</span>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <!-- Site Logo -->
                <div class="logo text-center">
                    <a href="/">
                        <!-- replace logo here -->
                        <svg width="160px" height="29px" viewBox="0 0 180 29" version="1.1"
                             xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="40"
                               font-family="AustinBold, Austin" font-weight="bold">
                                <g id="Group" transform="translate(-108.000000, -297.000000)" fill="#000000">
                                    <text id="AVIATO">
                                        <tspan x="104" y="322">Unsal Blog</tspan>
                                    </text>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>

            <script>

                $(function () {
                    $("#query").autocomplete({
                        source: "/search_auto/",
                        select: function (event, ui) { //item selected
                            AutoCompleteSelectHandler(event, ui)
                        },
                        minLength: 2,
                    });
                });

                function AutoCompleteSelectHandler(event, ui) {
                    var selectedObj = ui.item;
                }

            </script>


            </ul>

            <div class="col-md-4 col-xs-12 col-sm-4">
                <!-- Cart -->

                <div class="pull-right">
                    <table>
                        <tr>

                            <td class="header-account dropdown default-dropdown">
                                <!-- Account -->
                                {% if user.id is not None %}
                                    <div class="dropdown-toggle" role="button" data-toggle="dropdown"
                                         aria-expanded="true">
                                        <div class="form-control">


                                            <strong class="text-uppercase"><img src="{{ user.userprofile.image.url }}" style="height: 25px;width: 25px;border-radius:100% ">{{ user.first_name }}<i
                                                    class="fa fa-caret-down"></i></strong>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="form-control">
                                       <strong style=""> <a href="/login/" class="text-uppercase" style="color: darkblue;"><i class="fa fa-unlock-alt"></i> Login</a>
                                       </strong> | <a href="/signup/" class="text-uppercase"><i class="fa fa-user-plus"></i> Signup</a>
                                    </div>
                                {% endif %}

                                <ul class="custom-menu">
                                    <li><a href="/user/"><i class="fa fa-user-o"></i> My Profile</a></li>
                                    <li><a href="#"><i class="fa fa-heart-o"></i> My Blogs</a></li>
                                    <li><a href="/logout/"><i class="fa fa-unlock"></i> Logout</a></li>
                                </ul>

                                <!-- /Account -->
                            </td>

                            <td>
                                <!-- Search -->


                                <table>
                                    <tr>

                                        <form action="/search/" method="post">
                                            {% csrf_token %}

                                            <td><input type="search" class="form-control" placeholder="Search..."
                                                       name="query"
                                                       id="query" style="width: 100px"></td>
                                            <td>
                                                <button type="submit" class="form-control"><i
                                                        class="tf-ion-ios-search-strong"></i></button>
                                            </td>


                                        </form>
                                    </tr>


                                </table>


                            </td>

                        </tr>
                    </table>
                </div>

            </div>

        </div>
    </div>
    </div>
</section><!-- End Top Header Bar -->