{% load static %}
<!-- Main Menu Section -->
<section class="menu">
    <nav class="navbar navigation">
        <div class="container">
            <div class="navbar-header">
                <h2 class="menu-title">Main Menu</h2>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


            </div><!-- / .navbar-header -->

            <!-- /category nav
            <div id="responsive-nav">

                <div class="category-nav show-on-click">
                    <span class="category-header">Categories <i class="fa fa-list"></i></span>
                    {% load mptt_tags %}


                    <ul class="category-list">

                        {% recursetree category %}
                            <li class="dropdown side-dropdown">
                                <a href="/category/{{ node.id }}/{{ node.slug }}" {% if not node.is_leaf_node %}
                                   class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"{% endif %}>
                                    {{ node.title }}{% if not node.is_leaf_node %}
                                        <i class="fa fa-angle-right"></i>{% endif %}</a>
                                <div class="custom-menu">
                                    <div class="row">


                                        <div class="col-md-12">


                                            {% if not node.is_leaf_node %}
                                                <ul class="list-links" class="children">
                                                    <li><a href="">{{ children }}</a></li>

                                                </ul>
                                            {% endif %}
                                            <hr class="hidden-md hidden-lg">

                                        </div>
                                    </div>
                                </div>
                            </li>

                        {% endrecursetree %}


                    </ul>
                </div>

            </div>
             -->

            <!-- Navbar Links----------------------------------------------- -->
            <div id="navbar" class="navbar-collapse collapse text-center">


                <ul class="nav navbar-nav">


                    <!-- Home -->
                    <li class="dropdown ">
                        <a href="/">Anasayfa</a>
                    </li><!-- / Home -->


                    <!-- Blog -->
                    <!-- Category -->
                    <li class="dropdown dropdown-slide">
                        <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-delay="350"
                           role="button" aria-haspopup="true" aria-expanded="false">Category <span
                                class="tf-ion-ios-arrow-down"></span></a>
                        <div class="dropdown-menu">
                            <div class="row">

                                {% load mptt_tags %}
                                <ul class="category-list">

                                    {% recursetree category %}
                                        <li class="dropdown side-dropdown">
                                            <a href="/category/{{ node.id }}/{{ node.slug }}"
                                                    {% if not node.is_leaf_node %}
                                               class="dropdown-toggle" data-toggle="dropdown"
                                               aria-expanded="true"{% endif %}>
                                                {{ node.title }}{% if not node.is_leaf_node %}
                                                    <i class="fa fa-angle-right"></i>{% endif %}</a>
                                            <div class="custom-menu">
                                                <div class="row">


                                                    <div class="col-md-12">


                                                        {% if not node.is_leaf_node %}
                                                            <ul class="list-links" class="children">
                                                                <li><a href="">{{ children }}</a></li>

                                                            </ul>
                                                        {% endif %}
                                                        <hr class="hidden-md hidden-lg">

                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                    {% endrecursetree %}


                                </ul>
                            </div><!-- / .row -->
                        </div><!-- / .dropdown-menu -->
                    </li><!-- / Category -->

                    <!-- Aboutus -->
                    <li class="dropdown ">
                        <a href="/hakkimizda">Hakkımızda</a>
                    </li><!-- / Aboutus -->
                    <!-- Refrences -->
                    <li class="dropdown ">
                        <a href="/referanslarimiz">Referanslar</a>
                    </li><!-- / Refrences -->
                    <!-- Contact -->
                    <li class="dropdown ">
                        <a href="/iletisim">İletisim</a>
                    </li><!-- / Contact -->
                    <!-- Contact -->
                    <li class="dropdown ">
                        <a href="/faq">SSS</a>
                    </li><!-- / Contact -->
                </ul><!-- / .nav .navbar-nav -->


            </div>
            <!--/.navbar-collapse -->
        </div><!-- / .container -->
    </nav>
</section>

