<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Gallery</title>
</head>
<body>
<h2>{{ content.title }}</h2>
{% if messages %}
    {% for message in messages %}
        <div class="alertPart">
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message|safe }}</div>  <!--mesaj veriyor -->
        </div>
    {% endfor %}
{% endif %}
<hr>
<form class="text-left clearfix" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <input type="hidden" name="content_id" placeholder="id_content_id" value="{{ content.id }}">
    </div>
    <label for="id_title">Title:</label>
    <div class="form-group">
        <input type="text" class="input" name="title" placeholder="title" maxlength="50" id="id_title">
    </div>
    <label for="id_image">Image:</label>
    <div class="form-group">
        <input type="file" class="input" name="image" placeholder="image" accept="image/*" id="id_image">
    </div>
    <br>
    <div class="text-center">
        <button type="submit" class="btn btn-main text-center">Upload image</button>
    </div>
</form>
<hr>
<h4>Yüklenen Resimler</h4>


{% for rs in images %}
    {{ rs.title }}
    <br>
    <img src="{{ rs.image.url }}" height="200">
    <br>
{% endfor %}

</body>
</html>