<!-- category widget -->
<div class="aside-widget">
    <div class="section-title">
        <h2 class="title">User Panel</h2>
    </div>

    <div class="category-widget">
        <ul>

            <li><a href="/user">User Profile</a></li>
            <li><a href="/user/comments">My Comments</a></li>
            <li><a href="/user/blogs">My Blogs</a></li>
            <li><a href="/user/contents">My Content</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>

</div>
<!-- /category widget -->