{% extends 'homebase.html' %}
{% block title %} {{ profile.user.username }}  Profile update {% endblock %}
{% block keywords %} {{ settings.keywords }}  {% endblock %}
{% block decription %} {{ settings.decription }}  {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ settings.icon.url }}'/>
{% endblock %}

{% block sidebar %}{% include 'sidebar.html' %}{% endblock %}

{% block content %}

    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1 class="page-name" style="color: #0c0c0c">User profile update</h1>
                        <ol class="breadcrumb">
                            <li><a href="/">Anasayfa</a></li>
                            <li class="active">User Update</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->

            <div class="row">

                <div class="col-md-3">
                    <div class="section-row">
                        <div class="dashboard-wrapper dashboard-user-profile">
                            {% include 'user_panel.html' %}

                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <!-- social widget -->
                    <div class="aside-widget">
                        <div class="dashboard-wrapper dashboard-user-profile">
                            <div class="section-title">
                                <h2 class="title">User Information</h2>
                            </div>

                            <div class="table-responsive">
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alertPart">
                                            <div class="alert alert-{{ message.tags }}" role="alert">
                                                {{ message|safe }}</div>  <!--mesaj veriyor -->
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <div class="pull-center text-center" href="#!">
                                    <img class="media-object user-img" src="{{ user.userprofile.image.url }}">

                                </div>

                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ user_form.as_p }}
                                    {{ profile_form.as_p }}
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-main text-center">Update</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    <!-- /social widget -->

                </div>

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->





{% endblock %}
